@using TrelloToMicrosoftPlannerMigrator.Models
@model UserInput
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Testing Data</h1>
    @{
        var plans = ViewData["Plans"] as List<string>;
        @foreach(var plan in plans ?? new List<string> { "" })
        {
            <p>@plan</p>
        }
    }
</div>
<div class="text-center">
    <h1 class="display-4">Migrate Trello to Microsoft Planner</h1>
    <p>Upload your Trello board json file and select what you would like to expert</p>
    
    @using (Html.BeginForm("FormSubmit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.LabelFor(m => m.IncludeArchivedLists)
        @Html.CheckBoxFor(m => m.IncludeArchivedLists)
        <br/>
        @Html.LabelFor(m => m.IncludeArchivedCards)
        @Html.CheckBoxFor(m => m.IncludeArchivedCards)
        <br />
        @Html.LabelFor(m => m.TrelloBoardFile)
        @Html.TextBoxFor(m => m.TrelloBoardFile, new { type = "file" })
        <br />
        @Html.TextBox("SubmitButton", "Migrate", new {type="submit"})
    }
</div>
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center"><p>
    <h5 class="display-5">Enable your ASP.NET Core web app to sign in users and call Microsoft Graph with the Microsoft identity platform </h5>
    </p>
    <img src="https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/raw/master/2-WebApp-graph-user/2-1-Call-MSGraph/ReadmeFiles/sign-in.png" />
    <p>Integrate an ASP.NET Core web app with the Microsoft Identity platform and calls Microsoft Graph API for the signed-in user</p>
</div>
*@

